/* You can add global styles to this file, and also import other style files */

body {
    position: relative;
    font-family: 'Open Sans', sans-serif; 
}


.navbar {
    border-radius: 0;
    background-color: #00bdf2;
    height: 35px;
    min-height: 32px;
    border: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}


.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text
{
    color: #fff;
    font-size: 14px;
    line-height: 5px;
    text-align: center;
}

.navbar-default .navbar-nav>li:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus{
    background-color: #008ce6;
    color: #fff;
    background: #008ce6;
}

@media (max-width: 400px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 70%;
    }
}

.img-responsive {
    margin: 0px auto;
    border: 3px solid darkgray;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px;
}


/* .navbar img {
    width: 90%;
    height: 90%;
} */

footer {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

aside {
    /* background-color: #f7f7f7; */
    text-align: center;
    /* padding-top: 40px; */
}