<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <aside class="col-sm-2">
      col 1
    </aside>
    <section class="col-sm-8">

      <article>
        <div class="row">
          <div class="col-sm-2">
              Main content - Side
          </div>

          <div class="col-sm-10">
            Main Content - Middle
          </div>


        </div>
      </article>

    </section>
    <aside class="col-sm-2">
      col 3
    </aside>

  </div>
</div>

<router-outlet></router-outlet>
