<form [formGroup]="projectForm" class="ui-g" (ngSubmit)="onSubmit()">
  <p-panel header="Add Name" class="ui-g-12">

    <section class="ui-g">
      <label for="projectId" class="ui-g-12 ui-md-2">Project Id*</label>

      <input pInputText id="projectId" formControlName="projectId" placeholder="Enter Your Project Id" class="ui-g-12 ui-md-5"
      />

      <div class="ui-g-12 ui-md-5">
        <babny-fielderrors [form]="projectForm" field="projectId" nicename="Project ID"></babny-fielderrors>
      </div>
    </section>

    <section class="ui-g">
      <label for="description" class="ui-g-12">Description</label>
      <!-- <textarea pInputTextarea id="description" rows="10" formControlName="description" class="ui-g-12"></textarea> -->
      <p-editor id="description" class="ui-g-12" formControlName="description" [style]="{'height': '200px'}"></p-editor>
      <div class="ui-g-12">
        <babny-fielderrors [form]="projectForm" field="description" nicename="Description"> </babny-fielderrors>
      </div>
    </section>

    <section class="ui-g">
      <label for="startDate" class="ui-g-12 ui-md-2">Start Date</label>
      <p-calendar [showIcon]="true" id="startDate" formControlName="startDate" dateFormat="mm/dd/yy" class="ui-g-12 ui-md-5" [minDate]="minStartDate">
      </p-calendar>

      <div class="ui-g-12 ui-md-5">
        <babny-fielderrors [form]="projectForm" field="startDate" nicename="Start Date"> </babny-fielderrors>
      </div>
    </section>

    <section class="ui-g">
      <p-fieldset legend="Project Type" class="ui-g-12" [toggleable]="true" [collapsed]="false">
        <p-radioButton name="projGroup" label="Front End" value="F" formControlName="projectType"></p-radioButton>
        <p-radioButton name="projGroup" label="Backend End" value="B" formControlName="projectType"></p-radioButton>
        <p-radioButton name="projGroup" label="Operations" value="O" formControlName="projectType"></p-radioButton>
      </p-fieldset>
    </section>

    <section class="ui-g">
      <label for="devs" class="ui-g-12 ui-md-2">Assigned Devs</label>
      <p-dropdown id="devdrop" filter="true" [options]="allDevs" formControlName="selectedDevs" class="ui-g-12 ui-md-10">
      </p-dropdown>
    </section>

    <section class="ui-g">
      <label for="devs" class="ui-g-12 ui-md-2">Multi Select Assigned Devs</label>
      <p-multiSelect id="devmultiselect" [options]="allDevs" defaultLabel="Select a Dev or Two" formControlName="selectedMultiDevs"
        class="ui-g-12 ui-md-10">
      </p-multiSelect>
    </section>

    <section class="ui-g">
      <label for="devs" class="ui-g-12 ui-md-2">ListBox Assigned Devs</label>
      <p-listbox id="devlistselect" [options]="allDevs" [multiple]="true" formControlName="selectedListDevs" class="ui-g-12 ui-md-10">
        <ng-template let-dev pTemplate="item">
          <img src="http://i.pravatar.cc/100?u={{dev.label}}" class="avatar" />
          <span class="devName">{{dev.value}}</span>
        </ng-template>
      </p-listbox>
    </section>

    
      <button pButton type="submit" [disabled]="hasFormErrors()" label="Save" icon="fa-floppy-o"></button>
   
  </p-panel>
</form>
